* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.btn {
    font-family: sans-serif;
    background-color: red;
    border: 3px solid pink;
    border-radius: .6rem;
    padding: 1rem 1.7rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    margin-left: 5rem;
    margin-top: 3rem;
    transition: all .2s ease-out;
}

.btn a:hover {
    color: black;
    background-color: pink;
    border: 3px solid red;
}

.heading h1 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    transition: all .2s ease-out;
}

.heading h1:hover {
    scale: 1.1;
}

.heading-detail {
    display: flex;
    justify-content: center;
    color: gray;
    font: italic;
    margin-top: .8rem;
}

.books-flex {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.img img {
    border: 2px solid pink;
    height: 30rem;
    transition: all .3s ease-out;
}

.img img:hover {
    margin-top: -3rem;
}


